<!--
  Generated template for the TasummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navbar color="header" id="header">
    <ion-title class="title">{{ 'ta_summary' | translate }}
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="header" *ngIf="!fromResultScreen" style="margin-top:-1%;" id="tool" class="ion-toolbar-min-style">
    <ion-row class="filters">
      <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1 tappable>
        <ion-icon *ngIf="showLeftButton" name="arrow-back" tappable></ion-icon>
      </ion-col>
      <ion-col no-padding col-10>
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="2">
          <ion-slide (click)="filterTabs(tab)" [class.selected]="selectedTab == tab" *ngFor="let tab of tabs"
                     tappable>
            <button ion-button class="toolBarButton toolBarButton-ios" color="light" clear tappable>{{ tab }}
            </button>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1 tappable>
        <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content padding class="sourceconfirm">

  <div style="height: 100%;width:100%;" id="summaryFromCreateScreen">
    <ion-slides #mainSlides (ionSlideDidChange)="mainContainerslideChanged()" class="main-content-slider">
      <!--Appointment Details Tab -->
      <ion-slide>
        <!--<div *ngIf="showTabs[0]" style="height:auto;min-height: 100%;">-->
        <div class="scrollable-div" style="height:100%;">
          <form style="height:auto;width:100%;">
            <div class="divv">
              <img class="approvedicon" [src]="getStatusIcon(this.status)"/>
            </div>
            <h6 class="status" [style.color]="getStyle()">{{this.status}}</h6>
            <h6 class="status" style="color:green">{{confirmationMessage}}</h6>

            <ion-grid class="details">
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Truck Appointment No</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{appointmentNoSearch}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Agent Reference No</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.agentReferenceNo}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Appointment Date</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.appointmentDateCreate}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Appointment Slot</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.appointmentSlotCreate}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Truck Number</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.truckNumberCreate}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Truck Type</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.trucktypeCreate}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Trailer No</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.trailerNoCreate}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Driver Name</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.driverNameCreate}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Driver Mobile Number</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.driverMobileNumberCreate}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Alternative Mobile Number</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.alternativeMobileNumber}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="firstrow">
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>Remarks</h4>
                  </ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label><h4 class="labels" text-wrap>{{this.displayModel?.remarksCreate}}</h4>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>
      </ion-slide>
      <!--Appointment Details Tab end -->
      <!--Move type : In Tab-->
      <ion-slide>
        <div class="scrollable-div" style="height:100%;">
          <ion-label *ngIf="moveTypeInList.length == 0" class="make-no-data-labels-center">No Details Available
          </ion-label>
          <form style="height:auto;width:100%;background-color: white;">
            <div style="height:auto;" *ngFor="let inContainer of moveTypeInList;let selectedTabIndex = index;">

              <div class="inner-scroll-container">
                <div>
                  <div class="attach-headder" style="padding-top:10px;" (click)="openSelecedTab(selectedTabIndex)"
                       tappable>
                    <div col-10 style="float:left; display:inline-block;">
                      <div class="rotateIconHolder"
                           style="width: 20px !important;height: 20px !important;" tappable>
                        <div style="width:20px;"
                             [ngClass]="(selectedTabsIndex==selectedTabIndex)? 'rotateIconDown' : 'rotateIconUp' ">
                          <ion-icon name="arrow-dropright">
                          </ion-icon>
                        </div>
                      </div>
                      <ion-label style="float:left; display:inline-block;margin: 3px 0px 0px 30px;color:white;">
                        {{inContainer.containerNumberDetails}} - {{inContainer.isoCodeDetails.substring(0,4)}}
                      </ion-label>
                    </div>
                  </div>
                  <div style="min-width:360px;"
                       [ngClass]="(selectedTabsIndex==selectedTabIndex) ? 'subheaderContianerDetails': 'hideSubheaderContianerDetails'">
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Container Number
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{inContainer.containerNumberDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        ISO Code
                      </ion-col>
                      <ion-col class="ion-col-minheight-nopadding" col-6 text-wrap>
                        <ion-label class="removeMargin boldStyle">{{inContainer.isoCodeDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Container Status
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{inContainer.containerStatusDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Shipper Name
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{inContainer.shipperName}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Shipping Line
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{inContainer.shippingLineDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Cut Off Time
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{inContainer.cutOffTimeDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row additionalDetailStyle" tappable col-12
                             *ngIf="!hideAddtionalDetailsIcon(selectedTabIndex,true)"
                             (click)="showAdvSearch(selectedTabIndex,true)">
                      <ion-col col-9 class="bold" style="color:white">
                        {{ 'ta_additionaldetails' | translate }}
                      </ion-col>
                      <ion-col col-3 class="statusCenter">
                        <ion-icon [name]="getIcon(selectedTabIndex,true)" class="image removePadding icon-margin"
                                  style="padding-top: 10px;margin-right: 10px;float: right;color:white"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <div class="additionalDetailsDropdown" *ngIf="this.moveTypeInList[selectedTabIndex].showadvOption">
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          {{ 'ta_ship_billno' | translate }}
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeInList[selectedTabIndex].additionalDetails.shippingBillNo}}
                        </ion-col>
                      </ion-row>
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          {{ 'ta_cmmdty_desc' | translate }}
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeInList[selectedTabIndex].additionalDetails.commodityDescription}}
                        </ion-col>
                      </ion-row>
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          {{ 'ta_decldwght' | translate }}
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeInList[selectedTabIndex].additionalDetails.declaredWeight}}
                        </ion-col>
                      </ion-row>
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          {{ 'ta_maxwght' | translate }}
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeInList[selectedTabIndex].additionalDetails.maxWeight}}
                        </ion-col>
                      </ion-row>
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          {{ 'ta_verified_mass' | translate }}
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeInList[selectedTabIndex].additionalDetails.verifiedGross}}
                        </ion-col>
                      </ion-row>
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          {{ 'ta_custom_sealno' | translate }}
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeInList[selectedTabIndex].additionalDetails.customSealNo}}
                        </ion-col>
                      </ion-row>
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          {{ 'ta_agent_sealno' | translate }}
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeInList[selectedTabIndex].additionalDetails.agentSealNo}}
                        </ion-col>
                      </ion-row>
                    </div>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        EIR No
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{inContainer.eirNoDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ion-slide>
      <!--Move type : In Tab End-->
      <!--Move type : Out Tab-->
      <ion-slide>
        <!--<div *ngIf="showTabs[2]" style="height:100%;">-->
        <div class="scrollable-div" style="height:100%;">
          <ion-label *ngIf="moveTypeOutList.length == 0" class="make-no-data-labels-center">No Details Available
          </ion-label>
          <form style="height:auto;width:100%;background-color: white;">
            <div style="height:auto;" *ngFor="let outContainer of moveTypeOutList;let selectedTabIndex = index;">

              <div class="inner-scroll-container">
                <div>
                  <div class="attach-headder" style="padding-top:10px;" (click)="openSelecedTab(selectedTabIndex)"
                       tappable>
                    <div col-10 style="float:left; display:inline-block;">
                      <div class="rotateIconHolder"
                           style="width: 20px !important;height: 20px !important;" tappable>
                        <div style="width:20px;"
                             [ngClass]="(selectedTabsIndex==selectedTabIndex)? 'rotateIconDown' : 'rotateIconUp' ">
                          <ion-icon name="arrow-dropright">
                          </ion-icon>
                        </div>
                      </div>
                      <ion-label style="float:left; display:inline-block;margin: 3px 0px 0px 30px;color:white;">
                        {{outContainer.containerNumberDetails}} - {{outContainer.isoCodeDetails.substring(0,4)}}
                      </ion-label>
                    </div>
                  </div>
                  <div style="min-width:360px;"
                       [ngClass]="(selectedTabsIndex==selectedTabIndex) ? 'subheaderContianerDetails': 'hideSubheaderContianerDetails'">
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Container Number
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{outContainer.containerNumberDetails}}
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        ISO Code
                      </ion-col>
                      <ion-col class="ion-col-minheight-nopadding" col-6 text-wrap="">
                        <ion-label class="removeMargin boldStyle">{{outContainer.isoCodeDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <div class="removePadding" col-12>
                        <ion-col style="display:inline-block; float:left;"
                                 col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          Count
                        </ion-col>
                        <ion-col style="display:inline-block;float:left;" class="removePadding" col-6="">
                          <ion-label class="removeMargin boldStyle">{{outContainer.containerCountDetails}}</ion-label>
                        </ion-col>
                      </div>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Container Status
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{outContainer.containerStatusDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Shipper Name
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{outContainer.shipperName}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Shipping Line
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{outContainer.shippingLineDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        Cut Off Time
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{outContainer.cutOffTimeDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row class="rowSeperator padding-left-row additionalDetailStyle"
                             *ngIf="!hideAddtionalDetailsIcon(selectedTabIndex,false)" tappable col-12
                             (click)="showAdvSearch(selectedTabIndex,false)">
                      <ion-col col-9 class="bold" style="color:white">
                        {{ 'ta_additionaldetails' | translate }}
                      </ion-col>
                      <ion-col col-3 class="statusCenter">
                        <ion-icon [name]="getIcon(selectedTabIndex,false)" class="image removePadding icon-margin"
                                  style="padding-top: 10px;margin-right: 10px;float: right; color:white"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <div class="additionalDetailsDropdown" *ngIf="this.moveTypeOutList[selectedTabIndex].showadvOption">
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          Bill Of Entry
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeOutList[selectedTabIndex].additionalDetails.billOfEntry}}
                        </ion-col>
                      </ion-row>
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          Out Of Charge
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeOutList[selectedTabIndex].additionalDetails.outOfCharge}}
                        </ion-col>
                      </ion-row>
                      <ion-row class="rowSeperator padding-left-row" col-12>
                        <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                          Custom Seal No
                        </ion-col>
                        <ion-col col-6 calss="ion-col-minheight-nopadding boldStyle"
                                 style="padding:0px;padding-top: 15px;">
                          {{this.moveTypeOutList[selectedTabIndex].additionalDetails.customSealNo}}
                        </ion-col>
                      </ion-row>
                    </div>
                    <ion-row class="rowSeperator padding-left-row" col-12>
                      <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                        EIR No
                      </ion-col>
                      <ion-col col-6 class="ion-col-minheight-nopadding">
                        <ion-label class="removeMargin boldStyle">{{outContainer.eirNoDetails}}</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ion-slide>
      <!--Move type : Out Tab end-->
    </ion-slides>

  </div>

  <ion-fab right bottom  #fab>
    <button class="edit" ion-fab color="$icon-highlight-bg-color-onfocus">
      <ion-icon ios="ios-menu" md="md-menu" tappable></ion-icon>
    </button>
    <ion-fab-list side="top">
      <ion-label class="fabedit" [hidden]="hidePrintOption"></ion-label>
      <button [hidden]="hidePrintOption" ion-fab color="$icon-highlight-bg-color-onfocus" (click)="printDoc(fab)">
        <ion-icon name="custom-print" tappable></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
