<!--
  Generated template for the TasearchresultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navbar color="header" id="header">
    <ion-title class="title">{{'rb_tab4'| translate}}</ion-title>  </ion-navbar>

  <ion-toolbar color="header" class="ion-toolbar-min-style">
    <ion-row class="toprow">
      <ion-col class="topcol">
        <button color="header" id="sortId" full ion-button (click)="navigateToSort()" tappable>
          <img class="filterImg" src="assets/img/sort.svg"/>
          Sort
        </button>
      </ion-col>
      <ion-col class="topcol">
        <button color="header" id="filterId" full ion-button (click)="navigateToFilter()" tappable>
          <img class="filterImg" src="assets/img/filter.svg"/>
          Filter
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-toolbar color="milkygrey">
    <ion-row class="countrow">
      <ion-col>
        <h6 class="countresult"> {{searchResults?.length}} {{ 'ca_out_of' | translate }} {{searchResults?.length}} {{ 'ca_results' | translate }} </h6>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content class="searchcontent" no-bounce has-bounsing="false" >

  <ion-list style="overflow: hidden;">

    <div class="gridclass" *ngFor="let selResource of searchResults; let i= index;">

      <ion-item-sliding>
        <ion-item (click)="showdetails(i)"  tappable>
          <ion-row>
            <ion-col col-9>
              <ion-row>
                <ion-col col-6 text-wrap>
                  <h6 class="subheader1">{{ 'rb_requestno' | translate }}</h6>
                </ion-col>
                <ion-col text-wrap>
                  <h4 class="subheader2">{{selResource.rsbId}}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6 text-wrap>
                  <h6 class="subheader1">{{ 'rb_customerref' | translate }}</h6>
                </ion-col>
                <ion-col col-6 text-wrap>
                  <h6 class="subheader2">{{selResource.cusReferenceNo}}</h6>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6 text-wrap>
                  <h6 class="subheader1">{{ 'rb_requesttype' | translate }}</h6>
                </ion-col>
                <ion-col col-6 text-wrap>
                  <h6 class="subheader2">{{selResource.requestType}}</h6>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6 text-wrap>
                  <h6 class="subheader1">{{ 'createdDate' | translate }}</h6>
                </ion-col>
                <ion-col col-6 text-wrap>
                  <h6 class="subheader2">{{selResource.createdDate}}</h6>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6 text-wrap>
                  <h6 class="subheader1">{{ 'rb_servicestatus' | translate }}</h6>
                </ion-col>
                <ion-col col-6 text-wrap>
                  <h6 class="subheader2">{{selResource.serviceStatus}}</h6>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-3 class="statusCenter">
              <img class="myttClass" [src]="getStatusIcon(selResource)"/>
              <h6 class="statusLabelStyle" [style.color]="getStyle()">{{selResource.resourceBookingStatus}}</h6>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="secondary" [hidden]="hideApproveButton(selResource)" (click)="gotoapprove(selResource)"
                  style=" border: 1px solid white;" tappable>
            <ion-icon name="custom-action"></ion-icon>
            {{ 'approve' | translate }}
          </button>

          <button ion-button color="secondary" [hidden]="!showEditButton(selResource)" (click)="goedit(selResource)" style="border: 1px solid white;" tappable>
            <ion-icon name="custom-Edit"></ion-icon>
            {{ 'edi-b' | translate }}
          </button>

          <button ion-button color="secondary" (click)="goview(selResource)" style="border: 1px solid white;" tappable>
            <ion-icon name ="custom-view"></ion-icon>
            {{ 'view' | translate }}
          </button>

          <button ion-button color="secondary" [hidden]="!cancelHidden(selResource)" (click)="goCancelRb(selResource)" style="border: 1px solid white;" tappable>
            <ion-icon name="custom-cancel"></ion-icon>
            {{ 'del-b' | translate }}
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </div>
  </ion-list>
 <ion-fab right bottom>
    <button ion-fab style="background-color: #F2B011;"  *ngIf="hideCreate()" (click)="openRBCreate()"  tappable>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
