<!--
  Generated template for the RBeditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navbar color="header" class="detailsheader">
    <ion-title class="title" > {{headerTitle}}
    </ion-title>

  </ion-navbar>
  <ion-toolbar color="header" style="margin-top:-1%;" id="tool" class="ion-toolbar-min-style">
    <ion-row class="filters">
      <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1 tappable>
        <ion-icon *ngIf="showLeftButton" name="arrow-back" tappable></ion-icon>
      </ion-col>
      <ion-col no-padding col-10>
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="2">
          <ion-slide (click)="filterTabs(tab)" [class.selected]="selectedTab == tab" *ngFor="let tab of tabs"
                     tappable>
            <button ion-button class="toolBarButton toolBarButton-ios" color="light" clear tappable>{{ tab }}
            </button>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1  tappable>
        <ion-icon *ngIf="showRightButton" name="arrow-forward" ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content padding id="taEdit">
  <!--Container Details Tab-->
  <div *ngIf="showTabs[0]" style="height:100%;padding-left:5px;padding-right:5px;">
    <form  style="height:auto;width:100%;background-color: white;">
      <ion-row class="rowSeperator" col-12>
        <div class="removePadding" col-12>
          <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle alingn-elemnts-inline-left">
            Location
          </ion-col>
          <ion-col col-6 class="removePadding alingn-elemnts-inline-left">
            <ion-label class="label-span-alignment boldStyle">1233</ion-label>
          </ion-col>
        </div>
      </ion-row>
      <ion-row class="rowSeperator" col-12>
        <div class="removePadding" col-12>
          <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle alingn-elemnts-inline-left">
            SP Name
          </ion-col>
          <ion-col col-6 class="removePadding alingn-elemnts-inline-left">
            <ion-label class="label-span-alignment boldStyle">1233</ion-label>

          </ion-col>
        </div>
      </ion-row>
      <ion-row class="rowSeperator" col-12>
        <div class="removePadding" col-12>
          <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle alingn-elemnts-inline-left">
            Truck Appointment Number
          </ion-col>
          <ion-col col-6 class="removePadding alingn-elemnts-inline-left">
            <ion-label class="label-span-alignment boldStyle">305</ion-label>

          </ion-col>
        </div>
      </ion-row>
      <ion-row  col-12>
        <div class="removePadding" col-12>
          <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle alingn-elemnts-inline-left">
            Status
          </ion-col>
          <ion-col col-6 class="removePadding alingn-elemnts-inline-left">
            <ion-label class="label-span-alignment boldStyle">Active</ion-label>

          </ion-col>
        </div>
      </ion-row>

      <ion-row style="padding:0px !important;" class=" padding-left-row"  col-12>

        <ion-col  class=" photo-button-col removePadding removeMargin" col-12>
          <button class="button-apply-general photobutton-common margin-forPhotoButton"
                  ion-button color="submit" style="margin-left: calc((100% - 118px) / 2)" block tappable>
            Add Container
            <!--<ion-icon name="clipboard" class="photoicon">
            </ion-icon>-->
          </button>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <!--Container Details Tab end-->

  <!--Move type : Out Tab-->
  <div *ngIf="showTabs[1]" style="height:100%;">
    <form    style="height:auto;width:100%;">
      <div style="height:auto;" *ngFor="let hcontainer of moveTypeOut;let selectedTabIndex = index;">

        <div class = "inner-scroll-container"  >
          <div >
            <div class="attach-headder" style="padding-top:10px;" (click)="openSelecedTab(selectedTabIndex)" tappable>
              <div col-10 style="float:left; display:inline-block;">
                <div class="rotateIconHolder"
                     style="width: 20px !important;height: 20px !important;" tappable>
                  <div style="width:20px;"
                       [ngClass]="(selectedTabsIndex==selectedTabIndex)? 'rotateIconDown' : 'rotateIconUp' ">
                    <ion-icon name="arrow-dropright">
                    </ion-icon>
                  </div>
                </div>
                <ion-label style="float:left; display:inline-block;margin: 3px 0px 0px 30px;color:white;" >
                  1223
                </ion-label>
              </div>
              <div col-2 style="display:inline-block; float:right;">
                <ion-icon name="trash" class="iconGeneral" style="margin-left: 20px;"></ion-icon>
              </div>
            </div>
            <div style="min-width:360px;"
                 [ngClass]="(selectedTabsIndex==selectedTabIndex) ? 'subheaderContianerDetails': 'hideSubheaderContianerDetails'">
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Container Number
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle">1233</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <div class="removePadding" col-12>
                  <ion-col style="display:inline-block; float:left;"
                           col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                    ISO Code
                    <!--<span style="color:red" class="span">*</span>-->
                  </ion-col>
                  <ion-col style="display:inline-block;float:left;" class="removePadding " col-6>
                    <ion-label class="label-span-alignment boldStyle">1233</ion-label>

                  </ion-col>
                </div>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <div class="removePadding" col-12>
                  <ion-col style="display:inline-block; float:left;"
                           col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                    Count
                    <!--<span style="color:red"  class="span">*</span>-->
                  </ion-col>
                  <ion-col style="display:inline-block;float:left;" class="removePadding" col-6="">
                    <ion-label class="label-span-alignment boldStyle">1233</ion-label>


                  </ion-col>
                </div>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Container Status
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle">FCL</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Shipper Name
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle"></ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Shipping Line
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle">GMK</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Cut Off Time
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle"></ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Additional Details
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-icon ios="ios-information-circle" md="md-information-circle" class="infoIcon pullRightToContainer iconGeneral" tappable>

                  </ion-icon>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  EIR No
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle"></ion-label>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--Move type : Out Tab End-->

  <!--Move type : In Tab-->
  <div *ngIf="showTabs[2]" style="height:100%;">
    <form    style="height:auto;width:100%;">
      <div style="height:auto;" *ngFor="let hcontainer of moveTypeOut;let selectedTabIndex = index;">

        <div class = "inner-scroll-container"  >
          <div >
            <div class="attach-headder" style="padding-top:10px;" (click)="openSelecedTab(selectedTabIndex)" tappable>
              <div col-10 style="float:left; display:inline-block;">
                <div class="rotateIconHolder"
                     style="width: 20px !important;height: 20px !important;" tappable>
                  <div style="width:20px;"
                       [ngClass]="(selectedTabsIndex==selectedTabIndex)? 'rotateIconDown' : 'rotateIconUp' ">
                    <ion-icon name="arrow-dropright">
                    </ion-icon>
                  </div>
                </div>
                <ion-label style="float:left; display:inline-block;margin: 3px 0px 0px 30px;color:white;" >
                  AAA
                </ion-label>
              </div>
              <div col-2 style="display:inline-block; float:right;">
                <ion-icon name="trash" class="iconGeneral" style="margin-left: 20px;"></ion-icon>
              </div>
            </div>
            <div style="min-width:360px;"
                 [ngClass]="(selectedTabsIndex==selectedTabIndex) ? 'subheaderContianerDetails': 'hideSubheaderContianerDetails'">
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Container Number
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle">1233</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <div class="removePadding" col-12>
                  <ion-col style="display:inline-block; float:left;"
                           col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                    ISO Code
                    <!--<span style="color:red" class="span">*</span>-->
                  </ion-col>
                  <ion-col style="display:inline-block;float:left;" class="removePadding " col-6>
                    <ion-label class="label-span-alignment boldStyle">1233</ion-label>

                  </ion-col>
                </div>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <div class="removePadding" col-12>
                  <ion-col style="display:inline-block; float:left;"
                           col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                    Count
                    <!--<span style="color:red"  class="span">*</span>-->
                  </ion-col>
                  <ion-col style="display:inline-block;float:left;" class="removePadding" col-6="">
                    <ion-label class="label-span-alignment boldStyle">1233</ion-label>


                  </ion-col>
                </div>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Container Status
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle">FCL</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Shipper Name
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle"></ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Shipping Line
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle">GMK</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Cut Off Time
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle"></ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  Additional Details
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-icon ios="ios-information-circle" md="md-information-circle" class="infoIcon pullRightToContainer iconGeneral" tappable>

                  </ion-icon>
                </ion-col>
              </ion-row>
              <ion-row class="rowSeperator padding-left-row"  col-12>
                <ion-col col-6 class="ion-col-minheight-nopadding ion-col-left-color boldStyle">
                  EIR No
                </ion-col>
                <ion-col col-6 class="ion-col-minheight-nopadding" >
                  <ion-label class="label-span-alignment boldStyle"></ion-label>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--Move type : In Tab end-->

  <!--Appointment Details Tab -->
  <div *ngIf="showTabs[3]" style="height:auto;min-height: 100%;">
    <form style="height:auto;width:100%;">
      <ion-row class=" padding-left-row"  col-12>
        <ion-col col-6 class=" boldStyle">
          Agent Reference No
        </ion-col>
        <ion-col col-12 class="rowSeperator ion-col-minheight-nopadding" >
          <ion-label style="padding-left:10px;" class="label-span-alignment boldStyle">8</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class=" padding-left-row"  col-12>
        <div class="removePadding" col-12>
          <ion-col style="display:inline-block; float:left;"
                   col-6 class=" boldStyle">
            Appointment Date
            <span style="color:red" class="span">*</span>
          </ion-col>
          <ion-col style="display:inline-block;float:left;" class=" removePadding " col-12>
            <ion-item style="padding-left:0px;">
              <!--<ion-label color="label" stacked class="bold">{{ 'ca_from_date' | translate }}</ion-label>-->
              <ion-datetime tappable  class="appointment-date-time"></ion-datetime>
            </ion-item>
            <ion-icon class="cal" name="calendar" color="header"></ion-icon>
          </ion-col>
        </div>
      </ion-row>
      <ion-row class=" padding-left-row"  col-12>
        <div class="removePadding" col-12>
          <ion-col style="display:inline-block; float:left;"
                   col-6 class="boldStyle">
            Appointment Slot
            <!--<span style="color:red"  class="span">*</span>-->
          </ion-col>
          <ion-col style="display:inline-block;float:left;" class=" removePadding" col-12="">
            <ion-item style="padding:0px;">
              <ion-label hidden color="dark" stacked class="headerVisibility">SP Name</ion-label>
              <ion-select class="appointment-slot-select" placeholder="--Select--">
                <ion-option value="">--select--</ion-option>
                <ion-option>DP world T1</ion-option>
                <ion-option>DP World T2</ion-option>
              </ion-select>
            </ion-item>

          </ion-col>
        </div>
      </ion-row>
      <ion-row class=" padding-left-row"  col-12>
        <ion-col col-6 class="boldStyle">
          Available Quantity
        </ion-col>
        <ion-col col-12 class="rowSeperator ion-col-minheight-nopadding" >
          <ion-label style="padding-left:10px;" class="label-span-alignment boldStyle">8</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class=" padding-left-row"  col-12>
        <ion-col col-6 class="boldStyle">
          Truck Number
        </ion-col>
        <ion-col col-12 class="rowSeperator ion-col-minheight-nopadding" >
          <ion-searchbar class="align-left-validationForms"  style="margin-bottom:10px !important;"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row class=" padding-left-row"  col-12>
        <ion-col col-6 class="boldStyle">
          Truck Type
        </ion-col>
        <ion-col col-12 class="rowSeperator ion-col-minheight-nopadding" >
          <ion-label style="padding-left:10px;" class="label-span-alignment boldStyle">XXXX</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class=" padding-left-row"  col-12>
        <ion-col col-12 class="boldStyle">
          Trailer Number
          <span style="color:red"  class="span">*</span>
        </ion-col>
        <ion-col col-12 class="rowSeperator ion-col-minheight-nopadding">
          <ion-searchbar class="align-left-validationForms"  style="margin-bottom:10px !important;"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row class=" padding-left-row"  col-12>
        <ion-col col-6 class="boldStyle">
          Driver Name
          <span style="color:red"  class="span">*</span>
        </ion-col>
        <ion-col col-12 class="rowSeperator ion-col-minheight-nopadding" >
          <ion-searchbar class="align-left-validationForms" style="margin-bottom:10px;"></ion-searchbar>
        </ion-col>
      </ion-row>

      <ion-row class=" padding-left-row"  col-12>
        <ion-col col-6 class="boldStyle">
          Driver Mobile Number
        </ion-col>
        <ion-col col-12 class="rowSeperator ion-col-minheight-nopadding" style="padding-bottom:10px !important;">
          <ion-label style="padding-left:10px;" class="label-span-alignment boldStyle"></ion-label>
        </ion-col>
      </ion-row>
      <ion-row class=" padding-left-row"  col-12>
        <ion-col col-12 class="boldStyle">
          Alternative Mobile Number
        </ion-col>
        <ion-col col-12 class=" ion-col-minheight-nopadding" >
          <ion-item style="padding:0px;">
            <ion-input style="padding-left:10px;" placeholder="Alternative Mobile Number" spellcheck="false"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class=" padding-left-row"  col-12>
        <ion-col col-6 class="boldStyle">
          Remarks
        </ion-col>
        <ion-col col-12 class=" ion-col-minheight-nopadding" >
          <ion-item style="padding:0px;">
            <ion-input style="padding-left:10px;" placeholder="Remarks" spellcheck="false"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <!--Appointment Details Tab end -->

  <!--Attachement Tab -->

  <div *ngIf="showTabs[4]" style="height:100%;padding-left:5px;padding-right:5px;">
    <!--<ion-row *ngFor="let attachment of attachments" class="attachrowSeperator min-height-Css">-->
    <ion-row  class="attachrowSeperator min-height-Css">
      <div class="col photo-button-col" style="width: 125px !important;
padding-top: 10px !important;
padding-bottom: 10px !important;
float: left;
display: inline-block;">
        <!--<button class="button-apply-general photobutton-common margin-forPhotoButton" ion-button color="submit" block-->
        <!--(click)="uploadDocs(attachment)" -->
        <!--tappable>{{ 'ca_upload' | translate }}-->
        <!--<ion-icon name="clipboard" class="photoicon"></ion-icon>-->
        <!--</button> -->
        <button class="button-apply-general photobutton-common margin-forPhotoButton" ion-button color="submit" block
                tappable>Upload
          <ion-icon name="clipboard" class="photoicon"></ion-icon>
        </button>
      </div>
      <div class="removePadding" style="width: calc(100% - 185px) !important;
padding-top: 10px !important;
padding-bottom: 10px !important;
float: left;
display: inline-block;" tappable>
        <!--(click)="displayAttachment(attachment)" tappable>-->


        <!--<img src="assets/img/image-icon.png" class="photoSelectedIcon" style="margin-top: 12px !important;"-->
        <!--*ngIf="(attachment.fileName != null || attachment.fileName != EMPTY)">-->
        <!--<ion-label class="wrap-content removeMargin photSelectedIconLabel filename">-->
        <!--{{attachment.fileName}}-->
        <!--</ion-label>-->
        <img src="assets/img/image-icon.png" class="photoSelectedIcon" style="margin-top: 12px !important;">
        <ion-label class="wrap-content removeMargin photSelectedIconLabel filename">
        </ion-label>
      </div>
      <div class="removePadding removeMargin" style="width: 60px !important;
          float: left;
          padding-top: 20px !important;
          padding-bottom: 10px !important;
          display: inline-block;">
        <button class="close-button margin-forPhotoCloseButton" style="margin-left: 10px;"  tappable>
          <!--<button class="close-button margin-forPhotoCloseButton" (click)="closeAttachment(attachment)" tappable>-->
          <ion-icon ios="ios-close" md="md-close"></ion-icon>
        </button>
      </div>
    </ion-row>
    <div class="row responsive-sm">
      <!--<button ion-button class="add-button margin-forPhotoButton" (click)="addAttachment()" tappable>-->
      <button ion-button class="add-button margin-forPhotoButton"  tappable>
        <ion-icon ios="ios-add" md="md-add" class="photo-button-icon"></ion-icon>
      </button>
    </div>
    <!--<button class="button-apply-general footer-submit" ion-button full type="submit" color="submit" [disabled]="disableSubmit" (click)="submit()" tappable>-->
    <button class="button-apply-general footer-submit" ion-button full
            type="submit" color="submit" tappable>
      Submit
    </button>
  </div>
  <!--Attachement Tab end-->
</ion-content>
