<ion-header>
  <ion-navbar color="header" id="header">
    <ion-title class="title">{{'ssr-history' | translate}} </ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color:#E8E6E6" class="ssrHistoryContainer">
<ion-label [hidden]="!isEmpty" class="make-no-data-labels-center">{{'ssr_history_empty_msg'| translate }} </ion-label>
  <div [hidden]="isEmpty" class="attach" (click)="showHistory(history)" *ngFor="let history of historyResponseList; let i = index">
    {{'history'|translate}} {{historyResponseList.length-i}}
    <ion-icon [name]="geticon(history)" class="image" tappable></ion-icon>
    <div *ngIf="history.showdetails" class="subheader">
      <ion-grid (click)="openView(history.requestNo)" tappable>
        <ion-row>
          <ion-col>
            {{'ssr-req-id'|translate}}
          </ion-col>
          <ion-col >
            {{history.requestNo}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{'ssr-action'|translate}}
          </ion-col>
          <ion-col>
            {{history.actionName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{'ssr-status'|translate}}
          </ion-col>
          <ion-col>
            {{history.status}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{'ssr-create-date'|translate}}
          </ion-col>
          <ion-col>
            {{history.createdDate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{'ssr-modi-date'|translate}}
          </ion-col>
          <ion-col>
          {{history.lastModifiedDate}}
          </ion-col>
        </ion-row>
     </ion-grid>
    </div>
  </div>
</ion-content>

