page-dosearchsummary {
  .toolbar-title{
    font-weight: $header-title-font-weight !important;
    text-align: center;
    font-size : 2.2rem;
      }



      .title{
        position : relative;
        right : 6%;
      }
      #notifybadge{
        float:right;
      }

      .detailcontent{
        position : relative;
        z-index : 1;
      }
      #notifications-badge {
        background-color: red;
        position: absolute;
        bottom: 60%;
        right: 0;
        border-radius: 50%;
        height: 85%;
      }


      .labels{
        opacity : 0.6;
        top: 30%;
        position: relative;
        margin-top: 0%;
        margin-bottom: 0%;
        font-size: medium;
        text-align: left;
        margin-left: 10%;
      }
      .vname{
        color :#828282;
        margin-left : 33%;
      }

      .fab-in-list {
        margin: -16px 0;
        width: 40px;
        height: 40px;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0);
        transform: scale(0);
      }


      .fab-in-list.show {
        opacity: 1;
        background-color: darkgray;
        color: white;

        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      .fabedit{
        margin-right : 200%;
        position : relative;
        bottom : 25px;
        font-weight : normal;
        color : white;
        /*background-color: #E8A808;*/
        padding: 6px;
        border-radius: 0.6em;

      }

      .approvedicon{
        height: 50px;
        width: 50px;
        text-align: center;
        position: relative;
        margin-top: 12%;

      }
      #divv{
        text-align: center;
      }

      .status{
        text-align: center;
        margin-top: 0%;
        font-weight: normal;
      }
      .edit{
        background-color: $icon-highlight-bg-color-onfocus;
        margin-bottom : 20%;
        margin-right : 15%;

      }
      .ion-md-checkmark-circle:before {
        content: "\f2bb";
        font-size: 3em;
        color: $approved-button-color;
      }
      .details {

        text-align: center;
        line-height: -1;
        top : 20%;

      }

  .donotificationtitle{
    color :green;
    text-align: center;
  }
}
