page-notificationsort {
  .scrollList::-webkit-scrollbar {
    width: 3px;
    height: 9px;position: relative; backface-visibility:hidden;
    transform:translateZ(1000px);
    z-index: 999;
    overflow-y:scroll;
  }

  .scrollList::-webkit-scrollbar-thumb   {
    display: block;
    height: 0;
    background-color: transparent;
    backface-visibility:hidden;
    transform:translateZ(1000px);
  }

  .scrollList::-webkit-scrollbar-track-piece {
    background-color: #f4f4f4;
    -webkit-border-radius: 5px;
    position: absolute;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    backface-visibility:hidden;
    transform:translateZ(1000px);
  }

  .scrollList::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);position: relative;
    -webkit-border-radius: 8px; backface-visibility:hidden;
    transform:translateZ(1000px);
  }

  scrollList::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.2);position: relative; backface-visibility:hidden;
    transform:translateZ(1000px);
    -webkit-border-radius: 8px;
  }

  .lab {
    font-weight: bold;
    margin-left: 6%;
    font-size: 2.0rem;
  }

  .scrollList{
    overflow-y: auto;
    height: 345px;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
  }

  .options {
    position: relative;
    top: 10px;
  }

  .list-md {
    margin :-1px 0 -10px;
  }

  .imoitem ion-item
  {
    padding: 0px !important;

  }

  #buttonsearch{
    height: 40px;
    color: white;
    background-color : #113B5F;
    //width: 108%;
    //margin-left: -5%;
    align-items: center;
  }
  .sort {
    float: right;
  }

  //---ios_change--start
  .topcol{
    border-right: 3px solid #FFF;
  }

  //---ios_change--end
  .listStyle ion-item .input-wrapper{
    position: absolute;
    z-index: 0;
  }
  .listStyle ion-radio {
    position: absolute;
    z-index: 1;
    width:95%;
  }
  .listStyle ion-radio .radio-icon{
    float: right;
  }

  .toggle-md.toggle-checked .toggle-icon {
    background-color: #c8dcff;
  }
  .toggle-md.toggle-checked .toggle-inner {
    background-color: #488aff;
  }

  .toggle-md .toggle-icon {
    background-color: #c8dcff;

  }
  .toggle-md .toggle-inner {
    background-color: #488aff;
  }
}


.toggleButtonCenterAlign {
  margin-left: calc((100% - 65px)/2);
}

.sortOption {
  margin-top: 20px;
  font-size: 1.6rem !important;
}
.sortOrderStyle {
  margin-top: 30px;
  padding-left: 15px !important;
  font-size: 1.6rem !important;
}
.platform-ios page-notificationsort .sortOrderStyle {
  margin-top: -15px;
}
.platform-ios page-notificationsort .sortOption {
  margin-top: -15px;
}
.platform-iphone page-notificationsort .listStyle{
margin-bottom: 3%;
}

.platform-ios page-notificationsort .toggle-ios .toggle-icon::before {
  left: 0%;
  right: 1px;
  top: 0px;
  bottom: 0px;
  border-radius: 16px;
  background-color: #488aff !important;
}
.platform-iphone page-notificationsort .scrollList{
  height: 403px;
}
.platform-ipad page-notificationsort .scrollList{
  height: 415px;
}
.platform-ios page-notificationsort .list-ios > .item-block:last-child,
.platform-ios page-notificationsort .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: none;
}
