<ion-header>
  <ion-navbar color="header" id="header">
    <ion-title class="title">{{'ta_history' | translate}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce has-bounsing="false" style="background-color:#E8E6E6" id="sssHistoryContainer">
  <div class="attach"style="padding-top: 15px;" (click)="showHistory(history)" *ngFor="let history of historyResponseList;let i = index">
    {{'sssHistory'|translate}} {{historyResponseList.length-i}}
    <ion-icon [name]="geticon(history)" class="image" style="margin-top: 2px;" tappable></ion-icon>
    <div *ngIf="history.showdetails" class="subheader">
      <ion-grid (click)="openView(history.requestNo)" tappable>
        <ion-row>
          <ion-col>
            {{'taHistoryRequestNo'|translate}}
          </ion-col>
          <ion-col >
            {{history.requestNo}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{'taHistoryActionName'|translate}}
          </ion-col>
          <ion-col>
            {{history.actionName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{'taHistoryStatus'|translate}}
          </ion-col>
          <ion-col>
            {{history.status}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{'taHistoryCreatedDate'|translate}}
          </ion-col>
          <ion-col>
            {{history.createdDate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{'taHistoryLastModifiedDate'|translate}}
          </ion-col>
          <ion-col>
            {{history.lastModifiedDate}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

