<!-- Generated template for the imdgModelComponent component -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'seal-deatial' | translate }}
    </ion-title>
    <ion-buttons start tappable>
      <button ion-button (click)="close()" tappable style="color: white;">
        <span ion-text showWhen="ios"> Cancel</span>
        <ion-icon name="md-close" style="color: white;width:40px;" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bounsing="false" padding id="caImgdModel">
  <ion-row class="mainContainer-caImgdModel">
    <div style="width: 100%" *ngFor="let item of tempgigoSealDetails; let selectedTabIndex = index;" (click)="(item.dropDown=='true')? item.dropDown='false':item.dropDown='true'" tappable> <div class="attach-headder" style="margin-top: 0px;padding: 0;" >
      <div class="accordionSection" (click)="openSelecedTab(selectedTabIndex)" tappable>

        <div class="cont_head verticalAlign" >
          <div  [ngClass]="(selectedTabsIndex==selectedTabIndex)? 'rotateIconDown' : 'rotateIconUp' ">
            <ion-icon class="iconStyle" name="arrow-dropright">
            </ion-icon>
          </div>
        </div>
        <ion-label class="cont_label verticalAlign" style="width: calc(100% - 20px);position: initial;color: white;" >
          Seal Details {{selectedTabIndex+1}}
        </ion-label>
      </div>
      <div class="iconSection">
        <ion-icon ios="ios-add" md="md-add" class="iconGeneral pullRightToContainer verticalAlign" (click)="addContainer()" tappable></ion-icon>
        <ion-icon  name="trash" class="iconGeneral verticalAlign" *ngIf="showDeleteIcon()" (click)="closeContainer(item)" tappable
                   style="margin-left:2px"></ion-icon>

      </div>


    </div>

      <div [ngClass]="(selectedTabsIndex==selectedTabIndex) ? 'subheadercaimdgmodel': 'hideSubheadercaimdgmodel'" style = "width:100%;">
        <ion-grid>
          <ion-row class="rowSeperator">
            <ion-col class="min-height-Css" col-6>
              <ion-label class="label ion-col-left-color">
                {{ 'issuer' | translate }}
              </ion-label>
            </ion-col>
            <ion-col col-6 >
              <ion-item class="pdgBtmZero">
                <ion-label hidden color="dark" stacked class="headerVisibility">{{ 'issuer' | translate }}
                </ion-label>
                <ion-select class="ca-margin wrap-content"  [(ngModel)]="item.sealPrefix" tappable>
                  <ion-option *ngFor="let type of sealIssuerList" value={{type.definedSetValueCode}}>{{type.definedSetValueIntMessage}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="rowSeperator">
            <ion-col class="min-height-Css" col-6>
              <ion-label class="label ion-col-left-color">
                {{ 'sl_number' | translate }}
              </ion-label>
            </ion-col>
            <ion-col col-6 >
              <ion-item class="pdgBtmZero">
                <ion-input class="imdg_tab_input" type="text" placeholder="{{ 'sl_number' | translate }}"
                           onpaste="return true;" minlength="1" maxlength="18"
                           [(ngModel)]="item.sealNumber" spellcheck="false" minlength="1" maxlength="18" (keyup.enter)="keyboardClose()"
                           (keyup)="keyUpValidate($event,'^[0-9a-zA-Z]{0,18}$','sl_number',selectedTabIndex)" (ionBlur)="onBlurValidation(selectedTabIndex)"  tappable></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="rowSeperator">
            <ion-col class="min-height-Css" col-6>
              <ion-label class="label ion-col-left-color wrap-content">
                {{ 'status' | translate }}
              </ion-label>
            </ion-col>
            <ion-col col-6 >
              <ion-item class="pdgBtmZero">
                <ion-label hidden color="dark" stacked class="headerVisibility">{{ 'status' | translate }}
                </ion-label>
                <ion-select class="ca-margin wrap-content"  [(ngModel)]="item.sealStatus" tappable>
                  <ion-option *ngFor="let type of sealStatusList" value={{type.definedSetValueCode}}>{{type.definedSetValueIntMessage}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="rowSeperator">
            <ion-col class="min-height-Css" col-6>
              <ion-label class="label ion-col-left-color" (click) = "log()">
                {{ 'type' | translate }}
              </ion-label>
            </ion-col>
            <ion-col col-6 >
              <ion-item class="pdgBtmZero">
                <ion-label hidden color="dark" stacked class="headerVisibility">{{ 'type' | translate }}
                </ion-label>
                <ion-select class="ca-margin wrap-content"  [(ngModel)]="item.sealType" tappable>
                  <ion-option *ngFor="let type of sealTypeList" value={{type.definedSetValueCode}}>{{type.definedSetValueIntMessage}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
    </div>
    <!--<ion-row class="ok-button-container">-->
      <!--<ion-col>-->
        <!--<ion-row class="closeButton">-->
          <!--<button ion-button color="submit" block (click)="onOKClick()" tappable>{{ 'gigo-save-label' | translate }}-->
          <!--</button>-->
        <!--</ion-row>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <button class="button-apply-general footer-submit" style="margin-top: 30px;bottom: 5px;"  ion-button full
            type="submit" color="submit" (click)="onOKClick()"  tappable>{{ 'gigo-save-label' | translate }}
    </button>
  </ion-row>
</ion-content>
