<!-- Generated template for the DamageModel component -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'damage_details' | translate }}
    </ion-title>
    <ion-buttons start tappable>
      <button ion-button (click)="close()" style="color: white;" tappable>
        <span ion-text showWhen="ios">{{ 'ca_cancel_small' | translate }}</span>
        <ion-icon name="md-close" style="color: white;width:40px;" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce has-bounsing="false" padding id="cadamageModel">
  <ion-row class="mainContainer-cadamageModel">
    <div class="attach-cadamageModel" tappable>
      <div class="subheadercadamagemodel">
        <ion-grid>
          <form [formGroup]="damageForm" noValidate>
            <ion-row class="rowSeperator">
              <ion-col class="min-height-Css" col-5>
                <ion-label class="label ion-col-left-color">
                  {{ 'damage_condition' | translate }}
                </ion-label>
              </ion-col>

              <ion-col *ngIf="(this.editMode && this.containerEditMode)" col-7>
                <ion-item class="removePadding">
                  <ion-input type="text" placeholder="{{ 'damage_condition' | translate }}" maxlength="255"
                           formControlName="damageCondition"
                           [(ngModel)]="damageCondition" class="ion-col-right-color" spellcheck="false"
                             (keyup.enter)="keyboardClose()" tappable>
                </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="fit-toContent-Alignment" *ngIf="!(this.editMode && this.containerEditMode)" col-7>
                {{damageCondition}}
              </ion-col>
            </ion-row>
            <ion-row class="rowSeperator">
              <ion-col class="min-height-Css" col-5>

                <ion-label class="label ion-col-left-color">
                  {{ 'damage_location' | translate }}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="(this.editMode && this.containerEditMode)" col-7>
                <ion-item class="removePadding">
                  <ion-input type="text" placeholder="{{ 'damage_location' | translate }}" maxlength="255" formControlName="damageLocation"
                           [(ngModel)]="damageLocation" class="ion-col-right-color" spellcheck="false"
                             (keyup.enter)="keyboardClose()" tappable></ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="fit-toContent-Alignment" *ngIf="!(this.editMode && this.containerEditMode)" col-7>
                {{damageLocation}}
              </ion-col>
            </ion-row>
            <ion-row class="rowSeperator">
              <ion-col class="min-height-Css" col-5>
                <ion-label class="label ion-col-left-color">
                  {{ 'damage_item' | translate }}
                </ion-label>
              </ion-col>

              <ion-col *ngIf="(this.editMode && this.containerEditMode)" col-7>
                <ion-item class="removePadding">
                  <ion-input type="text" placeholder="{{ 'damage_item' | translate }}" class="ion-col-right-color" maxlength="255"
                             formControlName="damageItem" [(ngModel)]="damageItem" spellcheck="false" (keyup.enter)="keyboardClose()" tappable>
                </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="fit-toContent-Alignment" *ngIf="!(this.editMode && this.containerEditMode)" col-7>
                {{damageItem}}
              </ion-col>
            </ion-row>
            <ion-row class="rowSeperator">
              <ion-col class="min-height-Css" col-5>
                <ion-label class="label ion-col-left-color">
                  {{ 'damage_count' | translate }}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="(this.editMode && this.containerEditMode)" col-7>
                <ion-item class="removePadding">
                  <ion-input type="tel" placeholder="{{ 'damage_count' | translate }}" class="ion-col-right-color"
                           [(ngModel)]="damageCount" maxlength="5" formControlName="damageCount"
                             (ionBlur)="onFocusFields('damagecount',damageCount, '^[0-9]{0,5}$')"
                           (keyup.enter)="keyboardClose()" (keyup)="keyUpValidate($event,'^[0-9]{0,5}$','damagecount')"
                           onpaste="return true;" spellcheck="false" tappable>
                </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="fit-toContent-Alignment" *ngIf="!(this.editMode && this.containerEditMode)" col-7>
                {{damageCount}}
              </ion-col>
            </ion-row>
            <ion-row class="rowSeperator">
              <ion-col class="min-height-Css" col-5>
                <ion-label class="label ion-col-left-color">
                  {{ 'damage_width' | translate }}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="(this.editMode && this.containerEditMode)" col-7>
                <ion-item class="removePadding">
                  <ion-input type="text" placeholder="{{ 'damage_width' | translate }}" class="ion-col-right-color"
                           [(ngModel)]="damageWidth" maxlength="5" formControlName="damageWidth"
                           (ionBlur)="onFocusFields('damagewidth',damageWidth, decimalPattern)"
                           (keyup.enter)="keyboardClose()" (keyup)="keyUpValidate($event,inputPattern,'damagewidth')"
                           onpaste="return true;" spellcheck="false" tappable>
                </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="fit-toContent-Alignment" *ngIf="!(this.editMode && this.containerEditMode)" col-7>
                {{damageWidth}}
              </ion-col>
            </ion-row>
            <ion-row class="rowSeperator">
              <ion-col class="min-height-Css" col-5>
                <ion-label class="label ion-col-left-color wrap-content">
                  {{ 'damage_height' | translate }}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="(this.editMode && this.containerEditMode)" col-7>
                <ion-item class="removePadding">
                  <ion-input type="text" placeholder="{{ 'damage_height' | translate }}" class="ion-col-right-color"
                           [(ngModel)]="damageHeight" maxlength="5" formControlName="damageHeight"
                           (ionBlur)="onFocusFields('damageheight',damageHeight, decimalPattern)"
                           (keyup.enter)="keyboardClose()" (keyup)="keyUpValidate($event,inputPattern,'damageheight')"
                           onpaste="return true;" spellcheck="false" tappable>
                </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="fit-toContent-Alignment" *ngIf="!(this.editMode && this.containerEditMode)" col-7>
                {{damageHeight}}
              </ion-col>
            </ion-row>
            <ion-row class="rowSeperator">
              <ion-col class="min-height-Css" col-5>
                <ion-label  class="label ion-col-left-color wrap-content">
                  {{ 'damage_length' | translate }}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="(this.editMode && this.containerEditMode)" col-7>
                <ion-item class="removePadding">
                  <ion-input type="text" placeholder="{{ 'damage_length' | translate }}" class="ion-col-right-color"
                           [(ngModel)]="damageLength" maxlength="5" formControlName="damageLength"
                           (ionBlur)="onFocusFields('damagelength',damageLength, decimalPattern)"
                           (keyup.enter)="keyboardClose()" (keyup)="keyUpValidate($event,inputPattern,'damagelength')"
                           onpaste="return true;" spellcheck="false" tappable>
                </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="fit-toContent-Alignment" *ngIf="!(this.editMode && this.containerEditMode)" col-7>
                {{damageLength}}
              </ion-col>
            </ion-row>
            <ion-row class="rowSeperator">
              <ion-col class="min-height-Css" col-5>
                <ion-label class="label ion-col-left-color wrap-content">
                  {{ 'damage_remarks' | translate }}
                </ion-label>
              </ion-col>
              <ion-col *ngIf="(this.editMode && this.containerEditMode)" col-7>
                <ion-item class="removePadding">
                  <ion-input type="text" placeholder="{{ 'damage_remarks' | translate }}" class="ion-col-right-color" maxlength="255"
                             formControlName="damageRemarks" [(ngModel)]="damageRemarks" spellcheck="false" (keyup.enter)="keyboardClose()" tappable>
                </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="fit-toContent-Alignment" *ngIf="!(this.editMode && this.containerEditMode)" col-7>
                {{damageRemarks}}
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </div>
    </div>
    <ion-row class="ok-button-container">
      <ion-col>
        <ion-row class="closeButton">
          <button ion-button color="submit" block (click)="onOKClick()" tappable>{{ 'ok_text_small' | translate }}</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>
