page-settings {
.toolbar-title{
        font-weight: $header-title-font-weight !important;
        text-align: center;
		font-size: 2.1rem;
    }

    #sub{
        position: fixed;
        bottom: 0;
    }

}
