page-ssrfilter
{
  .filters {

    ion-col {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.6rem;

      ion-icon {
        color: #ccc;
      }


      &.col-with-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    p {
      color: #fff;
      margin: 0;
      font-size: 1.6rem;
      line-height: 1.6rem;
    }

    .selected {
      border-bottom: 5px solid lightblue;
    }
  }
  .boldStyle
  {
    font-weight: 500;
  }
  .detailsheader
  {
    height:70px;
  }
  .toolbar-title {
    font-weight: $header-title-font-weight !important;
    text-align: center;
    font-size: 2rem;
  }

  .title {
    position: relative;
    right: 6%;
  }
  .underline {
    text-decoration: underline;
  }
  .edit{
    background-color: $icon-highlight-bg-color-onfocus;
    margin-bottom : 20%;
    margin-right : 15%;
  }

  .fabedit{
    margin-right : 200%;
    position : relative;
    bottom : 25px;
    font-weight : normal;
    color : white;
    /*background-color: #E8A808;*/
    padding: 6px;
    border-radius: 0.6em;
  }

  .fab-in-list.show {
    opacity: 1;
    background-color: darkgray;
    color: white;

    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .fab-in-list {
    margin: -16px 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .valerror-search{
    border-top: 1px solid red;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    bottom: 12px;
    color: red;
    margin-top: 20px !important;
  }
  .rotateIconHolder{
    width:10%;
    height:auto;
    font-size: 18px;
    color: white;
    float:left;
    margin-top: -5px !important;
  }
  .tool {
    margin-top: -1%;
    width: 100% !important;
  }
  /***************left side nav******************/
  .left-side-nav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: visible;
    transition: 0.5s;
    will-change: transform;
    opacity:0;
    //transition: .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);;
    //transition: transform 1.5s ease-in-out;
    //transition: .3s cubic-bezier(0, 0, 0, 1);
    //transition: .2s cubic-bezier(.5, 0, 0, 0);;
  }
  .close-side-nav{
    //width: 0px;
    //height: 0px;
    ////min-width:0px;
    //opacity:0;
    //transform: matrix(0, 0, 0, 0, 0, 0);
    width: 0px;
    opacity:.2;
    transition: .2s cubic-bezier(.3, 0, 0, 0);;
  }
  .open-side-nav{
    width:100%;
    opacity:1;
    //transition: .4s cubic-bezier(.6, 0, 0, 0);;
    transition: .3s cubic-bezier(.8, 0, 0, 0);;
    //min-width:100px;
    // opacity:1;
    // transform: matrix(1, 0, 0, 1, 0, 0);
  }
  /***************left side nav end******************/
  .label-span-alignment{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-left: 4px;
    float: left;
    font-weight: 500;
  }
  .padding-left-row
  {
    padding-left: 10px;
  }
  .calculate-height
  {
    position:relative;
    height:calc((100% - 50px)) !important;

  }
  .rotateIconDown {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .rotateIconUp {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .attach-container-details .col {
    padding: 0px !important;
  }
  .inner-scroll-container{
    //position: absolute;
    //will-change: transform;
    height:auto;
  }
  .ionrow{
    background: white;
    width: 98%;
    margin: 4px -5px -2px 3px;
    min-height: 88px;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
  }
  .ioncol{
    color: #a0a0a0;
  }
  .label_cont{
    margin-left: 60px !important;
    margin-bottom: -3px;
  }

  .checkbox_cont{
    position: absolute !important;
    width: 100%;
  }
  .contanerlist {
    //max-height: 200px;
    //overflow-y: scroll;
    //height: auto;
    //border-bottom: 0.55px solid #c8c7cc;
    border-top: 0.55px solid #c8c7cc;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .contanerlist ion-item
  {
    padding-left: 0px;
  }
  .create{
    background-color: $icon-highlight-bg-color-onfocus;
    margin-bottom : 20%;
    margin-right : 15%;
  }
  .toolbar-title{
    font-weight: $header-title-font-weight !important;
    text-align: center;
    font-size : 2.2rem;
  }


  .error1{
    border-top:1px solid red;
    position: relative;
    margin-top: -1px;
    margin-left:16px;
    color: red;
  }

  .title{
    position: relative;
    left: -10px;
  }

  .label{
    font-weight : bold;
    position : relative;
    //left : 7px !important;
    font-size: 1.6rem !important;

  }
  //.item-label-stacked .text-input-md,
  //.item-label-floating .text-input-md
  //{
  //  padding-left: 8px !important;
  //}
  .valerror{
    border-bottom:2px solid red;
    margin-left: 9px;
    margin-right: 7px;
  }

  .reportError {
    border-top: 1px solid red;
    position: relative;
    color: red;
    margin-right: 9px;
    margin-left: 12px;
    margin-top: -1px !important;
  }

  .label-left{
    margin-left: 5%;
  }

  .item-label-stacked .select-md, .item-label-floating .select-md {
    padding-top: 8px  !important;
    padding-bottom: 8px  !important;
    padding-right: 15px  !important;
    margin-left: 8px  !important;
  }

  .style{
    border: none;
    margin-left: 5%;
    margin-top: 5%;

  }
  .span
  {
    color:red;
  }
  .button-right {
    float: right;
    margin-top: 10px;
  }

  #imoitem{
    padding-top: 30%;
  }
  #buttonsearch{
    height: 40px;
    width: 95px;
  }
  #buttongo{
    height: 50px;
    float: right;

  }
  .cal {
    float: right;
    font-size: 2em;
    position: relative;
    margin-top: -10%;
    margin-right: 3%;
  }
  .searchbar_disabled{
    height: 0%;
    position: relative;
    margin-top: 2%;
    border: 1px solid darkgray;
    text-decoration: none;
    width: 95%;
    left: 3%;
    text-align: left;
  }
  .searchbaricon{
    font-size: 21px;
    color:#595959;
    padding-top: 2%;
  }
  //media query starts here
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    #searchbutton{
      margin-left: 65%;
    }
    .label-left{
      margin-left: 2%;
    }
    .cal{
      margin-top: -5%;
    }
  }
  .item-md ion-icon[item-left] + .item-inner,
  .item-md ion-icon[item-left] + .item-input,
  .item-md ion-icon[item-start] + .item-inner,
  .item-md ion-icon[item-start] + .item-input {
    margin-left: 0px;
  }

  item-input-disabled ion-label {
    opacity: 0.99 !important;
  }
  .item-select-disabled ion-label {
    opacity: 0.99 !important;
  }
  .item-datetime-disabled ion-label {
    opacity: 0.99 !important;
  }
  .label-ios[stacked]{
    margin-bottom: 12px;
  }
  .item-block:first-child {
    border-top: none !important;
  }
 .item-block:last-child {
    border-bottom: none!important;
  }
   .item-block:first-child .item-inner {
    border-top: none!important;
    margin-top: 0px!important;
  }
  .item-block:last-child .item-inner {
    border-top: none!important;
    margin-top: 0px!important;
  }
  .item-ios.item-block .select-ios .select-icon {
    width: 25px !important;
  }

  .terminalButtonStyle {
    background-color : #113B5F;
    width: 46%;
    height: 40px !important;
  }
  ion-list .input-wrapper .label{
    left: 35px !important;
  }
  .item-with-button ion-label
  {
    margin-left: 30px;
  }

  .imoitem{
    padding-top: 30%;
  }
  .labelrotno,searchbarStyle{
    padding-left: 16px;
  }
  .searchStyle .searchbar-input-container,.searchbarStyle .searchbar-input-container{
    padding-left:7px;
  }
}

