page-workflow {
  .boxItem {
    display: inline-block;
    border: 1px solid black;
    padding: 1em;
    border-radius: 100%;
    margin-right: 5em;
    background-color: yellow;
    margin-top: 10px !important;
  }
  .boxItemApproved {
    display: inline-block;
    border: 1px solid black;
    padding: 1em;
    border-radius: 100%;
    margin-right: 5em;
    background-color: green;
    margin-top: 10px !important;
  }
  .boxItemRejected {
    display: inline-block;
    border: 1px solid black;
    padding: 1em;
    border-radius: 100%;
    margin-right: 5em;
    background-color: red;
    margin-top: 10px !important;
  }
  .boxItemCancelled {
    display: inline-block;
    border: 1px solid black;
    padding: 1em;
    border-radius: 100%;
    margin-right: 5em;
    background-color: orange;
    margin-top: 10px !important;
  }

  .boxItem:before,
  .boxItem:after {
    content: '';
    width: 5em; /* size of your margin */
    border-bottom: 1px solid;
    position: absolute;
    top: 50%;

  }
  :after {
    left: 100%;
  }
  :before {
    right: 100%;
  }
  .boxItem:first-of-type:before,
  .boxItem:last-of-type:after {
    display: none;
  }
  .myBox {
    white-space: nowrap;
    text-align: center;
    transform: rotate(-90deg);
    position: fixed;
    top: 47%;
    right: 35%;
  }

  .approverbox {
    position: fixed;
    top: 30%;
    left: 25%;
  }

  .approver {
    margin-top:0.4rem !important;
  }

  .underline {
    border-bottom: 1px solid black;
    position: absolute;
  }
  .row {
    margin: 50px;
    font-size: large;
    border: 1px solid green;
    text-align: center;
  }
  .toolbar-title {
    font-weight: $header-title-font-weight !important;
    text-align: center;
  }

  .title {
    position: relative;
    right: 6%;
  }
  //---ios_change--start
  //---title alignment
  div.toolbar-title.toolbar-title-ios {
    overflow: visible;
    margin-left: -10%;
    margin-top: -10%;
  }
  .toolbar-title {
    font-weight: 500 !important;
    text-align: center;
    font-size : 2.2rem;
  }
  //---ios_change--end
}
.platform-ios page-workflow .list-ios > .item-block:first-child,
.list-ios > .item-block:first-child .item-inner{
  border-top:0px;
}
.platform-ios page-workflow .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,
.list-ios > .item-block:last-child .item-inner{
  border-bottom:0px;
}
