page-cacreate {
  .filters {

    ion-col {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.6rem;

      ion-icon {
        color: #ccc;
      }

      &.col-with-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    p {
      color: #fff;
      margin: 0;
      font-size: 1.3rem;
      line-height: 1.6rem;
    }

    .selected {
      /*font-weight: 700;*/
      border-bottom: 5px solid lightblue;
    }
  }
  .filename{
    margin-left: 2px !important;
    margin-top: 15px !important;
  }
  .size_ca {
    font-size: 1.4rem;
  }

  .val_date{
    width: 175% !important;
  }

  .col_GST{
    position: absolute;
    margin-left: 170px;
    padding-top: 13px;
  }
  .rowSeperatorLine{
    border-bottom: 1px solid #dedede;
    font-size: 1.6rem !important;
  }

  .val_icon{
    float: right;
    font-size: 2em;
    margin-top: 8% !important;
  }
  .col_icon{
    margin-left: 5%;
  }

  .linerAlign .text-input-md{
    margin-left: 0px !important;
  }
  .hideSubheaderContianerDetails_1 {
    height: 0px;
    opacity: 0;
    overflow:hidden !important;
    display:block !important;
  }

  .subheaderContianerDetails_1 {
    height: auto;
    width: 100%;
    opacity: 1;
  }
  .cont_details{
    margin-bottom: 1px;
    margin-top: 0px;position: relative;
    width: 100%;
    min-height: 100%;
    top: 0px;
    transition: none !important;
  }
  .cont_label{
    float: left;
    display:inline-block;
    padding: 3px 0px 0px 30px;
    margin: 0px;
    color:white;
    width: 71%;
  }

  .cont_head{
    font-size: 18px;
    color: white;
    float:left;
    width: 20px !important;
    height: 20px !important;
  }

  .platform-mobile .voyageButton {
    margin-top: 25px !important;
    margin-left: 0px !important;
  }
  .toolbar-title {
    font-weight: $header-title-font-weight !important;
    text-align: center;
    font-size: 2.2rem;
  }

  #tool .button-md .toolbar-md {
    padding: 0 !important;
    margin: 0 !important;
  }

  .camargin {
    ////margin-left:4.5%;
    //margin-left:0;
    //padding:0px !important
    margin-left: 0%;
  }

  .mandatory {
    border-top: 1px solid red;
    position: relative;
    color: red;
    bottom: 1px;
    left: 13px;
  }
  .attachrowSeperator{
    border-bottom: 1px solid #dedede;
  }
  .mandatory_1 {
    border-top: 1px solid red;
    position: relative;
    color: red;
    bottom: 1px;
  }
  .mandatory_2 {
    border-top: 1px solid red;
    position: relative;
    color: red;
    bottom: 6px;
  }
  .searchmandatory{
    border-top: 1px solid red !important;
    position: relative !important;
    color: red !important;
    bottom: 5px;
    left: 11.5px;
    width: 96.2%;
  }
  .rotationSearchmandatory{
    border-top: 1px solid red !important;
    position: relative !important;
    color: red !important;
    bottom: 5px;
    left: 12px;
    width:91.5%;
  }
  .Codemandatory {
    border-top: 1px solid red;
    position: relative;
    color: red;
    bottom: 3px;
    margin-right: 3px;
  }

  .title {
    position: relative;
    text-align: center;
    width: 85%;
  }

  .left {
    width: 100% ! important;
    //padding-left: 5px;
    //padding-top: 5px;
    margin-left: 3.8% !important;
    //width: 100% !important;
    //
    //margin-left: 4% !important;
  }

  .bold {
    font-weight: bold;
    font-size: 1.5rem !important;
  }

  .add-button {
    background-color: #113B5F !important;
    margin-bottom: 10%;
    border-radius: 0px !important;
    float: left;
    width: 40px;
    height: 3.8rem !important;
  }
  .select-text {
    overflow: initial !important;
    white-space: initial !important;
    font-size: 14px !important;
  }
  .close-button {
    //margin-top: 10%;
    //float: right;
    //margin-right: 20px;
    //width:23px;
    //height:22px;
    //background-color: #113B5F;
    //color: white;
    //border-radius:50%;

    float: right;
    margin-left: 100%;
    margin-right: 20%;
    border-radius: 0px !important;
    width: 40px;
    height: 3.8rem !important;
    color: #FFFFFF;
    background-color: #113B5F;
  }

  .photobutton {
    width: 40%;
    height: 80%;
    font-size: 10%;
  }

  .photoicon {
    position: relative;
    left: 8% !important;
    bottom: 3%;
  }
  .mainContainer-ContainerDetails .text-input-md {
    margin: 0px !important;
  }
  .footer-submit {
    //font-size: 2rem;
    margin-left: calc((100% - 118px) / 2) !important
  }

  ion-label .span {
    color: red;
  }

  .cal {
    float: right;
    font-size: 2em;
    position: relative;
    margin-top: -13%;
    background-color: white;
  }

  /*-----------Style cacreate ContainerDetails---------*/
  .mainContainer-ContainerDetails {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0px !important;
    margin: 0px !important;
  }

  .add-button-container-details {
    background-color: #1a3d7b;
    margin-bottom: 10%;
    float: left;
  }

  .grid-seperator {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
  }
  .floatingButton {
    border-radius: 100%;
    /* padding: 25px; */
    height: 60px;
    width: 60px;
    bottom: 30px;
    z-index: 100;
    float: right;
    right: 10px;
    /* display: inline-block; */
    position: fixed;
  }
  .attach-headder {
    height: 52px;
    width: 100%;
    background-color: #275680;
    padding: 15px;
    border-bottom: 1px solid #244f63;
  }

  page-cacreate .paddingforContainerDetails {
    padding: 0px !important;
  }
  .paddingforContainerDetails {
    padding: 0px !important;
  }
  page-cacreate .paddingforContainerDetails .scroll-content {
    padding: 0px !important;
  }

  .iconGeneral {
    color: white;
    font-size: 20px;

    width: 30px;
    text-align: center;
  }
  .pullRightToContainer {
    float: right;
    margin-right: 5px;
  }
  .attach-container-details {
    width: 100%;
    overflow: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }

  .subheaderContianerDetails {
    height: auto;

  }
  .rotateIconHolder {
    width: 70%;
    height: auto;
    float: left;
    font-size: 18px;
    color: white;
  }
  .hideSubheaderContianerDetails {
    height: 0px;
    display: none;
    //-webkit-animation-name: closeContianerDetails;
    //-webkit-animation-duration: 800ms;
    //-webkit-animation-animation-iteration-count: 1;
    //-webkit-animation-animation-timing-function: cubic-bezier(0, 0.9, 0.17, 1.23);
    //-webkit-animation-transform:translateZ(0);
    //animation-name: closeContianerDetails;
    //animation-duration: 800ms;
    //animation-iteration-count: 1;
    //animation-timing-function: cubic-bezier(0, 0.9, 0.17, 1.23);
    //transform:translateZ(0);
  }
  @-webkit-keyframes closeContianerDetails {
    from {
      height: auto;
    }
    to {
      height: 0px;
    }
  }
  .subheaderContianerDetails {
    //-webkit-animation-name: openContianerDetails;
    //-webkit-animation-duration: 800ms;
    //-webkit-animation-animation-iteration-count: 1;
    //-webkit-animation-animation-timing-function: cubic-bezier(0, 0.9, 0.17, 1.23);
    //-webkit-animation-transform:translate3D(0,0,0);
    //animation-name: openContianerDetails;
    //animation-duration: 800ms;
    //animation-iteration-count: 1;
    //animation-timing-function: cubic-bezier(0, 0.9, 0.17, 1.23);
    //transform:translate3D(0,0,0);
  }
  @-webkit-keyframes openContianerDetails {
    from {
      height: 0px;
    }
    to {
      height: auto;
    }
  }
  .rotateIconDown {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .rotateIconUp {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .attach-container-details .col {
    padding: 0px !important;
  }
  .ioncolrightwithcolor {
    color: #a0a0a0;
  }
  #ioncolrightwithcolorblack {
    color: black;
  }
  .selectBarStyle {
    width: 100%;
    max-width: 100% !important;
  }
  .min-height-Css {
    min-height: 48px;
  }
  .set-min-margin {
    margin-bottom: 5px;
  }

  .nominationtab .col {
    padding: 0px !important;
  }

  .nominationtab .select-md {
    padding: 0px !important;
    padding-top: 15px !important;
  }
  .nominationtab .searchbar-md {
    padding: 3px 3px 3px 0px !important;
  }
  .error {
    border-bottom: 1px solid red;
    position: relative;
    bottom: 8px;
  }
  .valerror {
    color: red;
  }
  //div {
  //  overflow:hidden;
  //  height:10px;
  //  background: red;
  //  -webkit-transition: height 100ms, -webkit-transform 100ms; /* Safari */
  //  transition: height 100ms, transform 100ms;
  //}
  //
  //div:hover {
  //  height:auto;
  //
  //}
  /*-----------End of style cacreate ContainerDetails---------*/
  .align-left-validationForms {
    padding-left: 12px;
  }
  .validationForms .list
  {
    width: 80%;
    margin-left: 10%;
    margin-top: 2px;
  }
  //media query starts here
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    .filename {
      margin-left: 6px !important;
      margin-top: 22px !important;
    }
  }
}

page-cacreate .rowSeperator{
  border-bottom: 1px solid #dedede;
  padding-left: 28px;
}

page-cacreate ion-app.md [padding],page-cacreate ion-app.md [padding] .scroll-content {
  padding: 0px !important;
}

page-cacreate .validationForms {
  padding-left: 5px;
}

page-cacreate .validationForms .col {
  padding: 0px !important;
}

page-cacreate .validationForms .row {
  padding: 0px !important;
}

page-cacreate .validationForms .item {
  padding: 0px !important;
  padding-left: 0px;
}

page-cacreate .validationForms ion-label {
  margin: 5px !important;
  margin-left: 0px !important;
  margin-top: 15px !important;
}

page-cacreate .validationForms ion-searchbar {
  padding: 0px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  padding-left: 12px !important;
}

page-cacreate .validationForms ion-datetime {
  padding-left: 0px !important;
  width: 100%;
}

page-cacreate .validationForms textarea {
  margin: 0px !important;
}

page-cacreate .validationForm ion-textarea {
  margin: 0px !important;
  padding: 0px;
}

.platform-iphone page-cacreate .toolbar-ios ion-title {
  padding: 10px !important;
  top: 6px;
}

.platform-iphone page-casearch .toolbar-ios ion-title {
  padding: 10px !important;
  top: 6px;
}

.platform-iphone page-cahistory .toolbar-ios ion-title {
  padding: 10px !important;
  top: 6px;
}

.platform-iphone page-casearchdetailview .toolbar-ios ion-title {
  padding: 10px !important;
  top: 6px;
}

.platform-iphone page-casearchresult .toolbar-ios ion-title {
  padding: 5px !important;
  top: 48px;
}

.platform-ios page-cacreate .val_icon {
  margin-top: 0% !important;
  position: relative;
  bottom: 20%;
}
.platform-ios page-cacreate .col_GST {
  padding-top: 0% !important;
}
.platform-iphone page-casearchsummay .toolbar-ios ion-title {
  padding: 10px !important;
  top: 6px;
}

page-casearch .scroll-content {
  padding-top: 10px !important;
  padding-left: 0px !important;
}

page-casearch .searchbar-ios {
  padding: 10px !important;

}

page-cacreate .validationForms .searchbar-ios {
  padding: 10px !important;
  margin: 10px;
  width: 100%;

}

.align-button-center-of-container {
  margin-left: calc((100% - 118px) / 2) !important;
}

.platform-tablet page-casearch .cal {
  float: right;
  font-size: 2em;
  margin-right: 10px;
  position: relative;
  margin-top: -7%;
  padding: 5px !important;
  background-color: transparent;
}

.platform-tablet page-casearch ion-searchbar {
  margin-left: 15px !important;
  padding: 10px !important;
  width: 97%;
}

.platform-tablet .validationForms .align-left-validationForms {
  padding-left: 28px;
}

.platform-tablet page-cacreate .cal {
  margin-top: -5%;
  right: -20px;
}
//Done for CaCreate container details tab
.text-input-ios,.item-ios.item-block .select-text,page-casearchdetailview .make-center,
.searchbar-ios .searchbar-input
{
  font-size: 1.4rem;
  font-weight: 500 !important;
  font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif !important;
}
.platform-tablet .validationForms ion-searchbar {
  margin-left: 15px;
  width: 100%
}
.item-ios.item-block  .select-text
{
  width:100% !important;
}
.item-ios.item-block  .select-ios .select-icon{
  width:5px !important;
}

.datetime-ios {
  padding: 0px !important;
}


.rtnNumber {
  width: 85% !important;
  display: inline-block;
  float: left;
}
.rtnNumberFull{
  width: 95% !important;
}
.voyageButton {
  position:  relative;
  display: inline-block;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #275680 !important;
  margin: 18px auto !important;
  margin-left: 12px !important;
  float: left;
}
.platform-ios .voyageButton {
  margin: 23px auto !important;
}
.platform-ios careefermodel .toggle-ios .toggle-icon::before {
  left: 0%;
  right: 1px;
  top: 0px;
  bottom: 0px;
  border-radius: 16px;
  background-color: #488aff !important;

}
.platform-ios page-cacreate .Codemandatory {
  border-top: 1px solid red;
  position: relative;
  color: red;
  bottom: 1px;
  left: 0px;
}
.platform-iphone page-cacreate .instructionStyle {
  margin-left: 3% !important;
  margin-top: 4%;
}
.platform-ipad page-cacreate .instructionStyle {
  margin-top: 4%;
}
.platform-ios page-cacreate .alert-ios .alert-tappable{
  z-index: 100;
}
//media query starts here
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  page-cacreate  .rotationSearchmandatory {
    border-top: 1px solid red !important;
    position: relative !important;
    color: red !important;
    left: 37px;
    bottom: 5px;
    width: 93.5%;
  }
  page-cacreate  .searchmandatory {
    border-top: 1px solid red !important;
    position: relative !important;
    color: red !important;
    bottom: 5px;
    left: 37px;
    width:98.2%;
  }
  .cont_label {
    width: 92%;
  }

}
.platform-ios page-cacreate .list-ios > .item-block:first-child {
  border-top: none;
}

.platform-ios page-cacreate .list-ios > .item-block:last-child,
.platform-ios page-cacreate .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: none;
}
