page-berthcomparison {
 .title{
    position : relative;
    right : 6%;
  }
  .subheader{
    background: white;
    margin-top: 10px;
    font-weight : bold;
  }
  .item{
    background: #CFCFCF;
  }

.toolbar-title{
  font-weight: $header-title-font-weight !important;
  text-align: center;
  font-size : 2.2rem;
    }
  .compareTitle{
    position : relative;
    right : 1%;
  }
}
