page-sortpopover {

  .error{
    border-bottom:1px solid red;
    position: relative;
    bottom: 2px;
    margin-left: 11px;
    margin-right: 11px;
  }

.dropdown{
        color:black;
    }
    .approve{
        width: 15%;
        float: right;
    }
.titles{
  //---ios_changes--start
left : 2%;
  //---ios_changes--end
position : relative;
}


.greyStyle {
    margin: 13px 8px 8px 12px !important;
	color : gray;
}


.options{
        position: relative;
     top: 8px;
}

.scroll-content{
    overflow: hidden;
  padding-bottom: 0 !important;
}

  //---ios_changes--start
  #clearsubmit1{
    color: white;
    width: 110%;
    margin-left: -5%;
    background-color : rgba(17, 59, 95, 0.96)
  }
  #clearsubmit2{
    color: white;
    width: 110%;
    margin-left: -5%;
    background-color : #113B5F;
  }
  #clearsubmit {
    color: white;
    background-color : #113B5F;
  }
  //---ios_changes--end

  .topcol{
    border-right: 3px solid #FFF;
  }

.mydp .selector {
    position: relative ;
    right: 13% ;
}
  //---ios_change--start

  .buttonStyle {
    background-color : #113B5F;
  }


  //---ios_change--end
}

page-sortpopover .ionContent
{
  overflow: hidden !important;
}
//.popover-content {
//  top: 120px;
//  //border-radius: 28px !important;
//}
page-sortpopover .scroll-content{
  overflow: hidden !important;
}
page-sortpopover popover-viewport
{
  overflow: hidden !important;
}

page-sortpopover .item-cover {
  left: 0 !important;
  top: 0 !important;;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  cursor: pointer !important;
}
page-sortpopover .popover-content{
  top: 115px !important;
  left: inherit !important;
  right: 12px  !important;;
  transform-origin: left top 0px  !important;;
  transform: scale(1)  !important;
}
page-sortpopover .popoverList{
  height:240px !important;
}
.platform-ios .trk-filter-popover page-sortpopover .popoverList
{
  height: 223px !important;
  border-bottom: 1px solid #dedede;
}
.filterPopover_truck  .popover-content {
  top: 118px !important;
}
