taadditionaldetail {
  .footer-submit {
    margin-left: calc((100% - 118px) / 2) !important
  }
}
.platform-ios taadditionaldetail .scroll-content {
  margin-top: 10px !important;
  margin-bottom: 49px;
  padding-left:0px!important;
  padding-right:0px!important;
}
